@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

@font-face {
    font-family: "CoFoSans"; 
    src: url("/public/fonts/CoFoSans-Bold/CoFoSansMedium.ttf"); 
    
} 

body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px !important;
    color: #222;
    overflow-x: hidden;
    background: #f7f9fd;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -moz-osx-font-smoothing: subpixel-antialiased !important;
}



.container {
    position: relative;
    z-index: 2;
}

.border {
    border: 1px solid rgb(242, 245, 250) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 30px;
}

h2, h3, h4, h5 {
    font-size: 21px;
}

.las {
    position: relative;
    top: 0px;
    font-size: 15px;
}

.la-youtube {
    position: relative;
    top: 2px;
    font-size: 21px;
}

a {
    text-decoration: none !important;
    color: #111;
}

.breadcrumb {
    background: #fff;
    padding: 14px 20px;
    border-radius: 10px;
    font-size: 14px;
}

.breadcrumb a {
    color: #2955c8;
}

.card {
    border: 1px solid #f6f8fd;
    border-radius: 20px;
}

.card img {
    border-radius: 15px;
}

.badge-card {
    position: absolute;
    top: 38px;
    left: 0px;
    background-color: gold;
    color: #111;
    font-weight: bold;
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


.rounded {
    border-radius: 10px !important;
    border: none !important;
}

.shadows {
    box-shadow: 0px 2px 20px -15px rgba(28, 32, 36, 0.2);
}

.best {
    border: 4px solid gold;
}


.navbar-brand {
    margin-right: 30px;
}


.navbar {
    background: rgba(255,255,255,1);
    backdrop-filter: blur(10px);
    z-index: 9;
}


.top-nav {
    background: #fff;
}

.top-nav .container{
    background: none;
    padding: 7px 2px;
    color: #b1b0c0;
    font-size: 13px;
}

.top-nav .container {
    border-bottom: 1px solid #f4f6fb;
}

.top-nav a:hover {
    color: #222;
}

.vk-logo-top {
    position: relative;
    top: 0px;
    opacity: 0.8;
}

.vk-logo-top:hover {
    opacity: 1;
}

.btn-booking, .btn-add-review-form {
    background: #3dc980;
    border: 1px solid #3dc980;
    color: #fff;
    border-radius: 5px;
    padding: 13px 20px;
    font-size: 16px;
    transition: .5s;
}

.btn-booking:hover, .btn-add-review-form:hover {
    border: 1px solid #3dc980;
    color: #3dc980;
    border-radius: 5px;
    padding: 13px 20px;
    font-size: 16px;
}



.btn-auth {
    color: #385bd7;
    background-color: #f4f6fb;
    border-radius: 5px;
    padding: 11px 20px;
    height: 45px;
    font-size: 14px;
    font-family: 'CoFoSans';
    transition: 1s;
}

.btn-auth:hover {
    color: #222;
    background-color: #f4f6fb;
    transition: 1s;
}

.btn-auth .las {
    transition: 1s;
    color:#385bd7;
}

.btn-auth:hover .las {
    transform: rotate(360deg);
    transition: 1s;
}

.auth-input {
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0px;
    padding-left: 0px;
}

.btn-reg {
    position: relative;
    color: #e8ece8;
    background: #385bd7;
    border-radius: 5px;
    padding: 11px 25px;
    height: 45px;
    transition: .5s;
    font-family: 'CoFoSans';
    font-size: 14px;
    font-weight: 500;
    
}

.btn-reg:hover {
    color: #385bd7;
    transition: .5s;
    background-color: #f4f6fb;
}

.btn-reg:hover .marker {
    filter: blur(0px);
    transition: 1.5s;
    background-color: #385bd7;
}

.btn-reg .marker {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background:#f4f6fb;
    left: 16px;
    top: 17px;
    transition: 1.5s;
    animation-name: marker-anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes marker-anim {
    from {
      opacity: 1;
      filter: blur(0px);
    }
    to {
      opacity: 0.2;
      filter: blur(3px);
    }
  }

.btn-view-review {
    color: #111;
    background: none;
    border: 1px solid #111;
    border-radius: 5px;
    padding: 10px 20px;
    transition: .5s;
    font-size: 15px;
}

.btn-view-video {
    display: block;
    position: relative;
    max-width: 240px;
    margin: 20px auto 10px;
    color: #3dc980;
    background: none;
    border: 1px solid #3dc980;
    border-radius: 5px;
    padding: 10px 20px;
    transition: .5s;
    font-size: 15px;
}

.btn-add-review {

    color: #fff;
    background: #3dc980;
    border: 1px solid #3dc980;
    border-radius: 5px;
    padding: 10px 20px;
    transition: .5s;
    font-size: 15px;
}

.btn-detailed {
    position: relative;
    color: #fff;
    background: #3dc980;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 15px;
}


.btn-detailed:hover {
    background: #40d387;
    color: #fff;
    
}

.badge {
    position: relative;
    top: -2px;
    background-color: #21a663;
    font-weight: 100;
    font-size: 12px;
    border-radius: 5px;
}


.header-image {
    display: block;
    position: relative;
    width: 100%;
    min-height: 520px;
    background: url(/../public/theme/img/header-blur2.jpg) center bottom;
    background-size: cover;
    padding: 80px 0;
    margin-bottom: 50px;
    margin-top: 0px;
}

.header-image-short {
    width: 100%;
    min-height: 420px;
    background: #111 url(/../public/theme/img/header-blur2.jpg) center bottom;
    background-size: cover;
    padding: 20px 0;
    margin-bottom: 40px;
    margin-top: 0px;
}

.header-image-camp {
    width: 100%;
    min-height: 290px;
    background: #111 url(/../public/theme/img/header-blur2.jpg) center bottom;
    background-size: cover;
    padding: 20px 0;
    margin-bottom: 40px;
}

.header-h1 {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 9;
    margin-top: 0px;
}

.header-short-h1 {
    text-align: center;
    color: #fff;

}

.header-descript {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.info-block-index {
    display: block;
    position: relative;
    background-color: #fff;
    padding: 30px 10px;
    margin-bottom: 30px;
    top: 0px;
    border-radius: 10px;
}


.filter-block {
    display: block;
    position: relative;
    background: rgba(247, 249, 253, 0.95) url(/public/theme/img/filter-bg.png) center;
    background-size: auto;
    border-radius: 10px;
    padding: 30px 40px 30px 40px;
    z-index: 2;
    backdrop-filter: blur(20px);
}

.box-shadow {
    background-color: rgba(255,255,255,0.05);
    padding: 25px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

#region_msg {
    position: relative;
    color: #f35353;
    font-size: 12px;
    left: 2px;
}

.filter-block .form-label {
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
    color: #68686d;
    margin-bottom: 3px;
    font-size: 13px;
}

.filter-block .form-select {
    display: block;
    font-size: 15px;
    padding: 24px 15px 10px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0px solid #d9dee7;
    background-color: rgba(255, 255, 255, 0.8);
    color: #383838;
    border-radius: 5px;
}

.filter-block .form-select:hover {
    transition: .5s;
    color: #2955c8;
    cursor: pointer;
}

.filter-block .form-select option {
    color: #111;
    
}


.filter-block .btn {
    display: block;
    background: #3dc980;
    border: none;
    height: 55px;
    padding: 17px 30px;
    font-size: 15px;
    margin-top: 0px;
    font-family: 'CoFoSans';
    border-radius: 5px;
    
}

.filter-block .btn .las {
    transition: .5s;
}

.filter-block .btn:hover .las {
    transform: rotate(400deg);
    transition: .5s;
}

.type-block {
    display: flex;
    flex-wrap: wrap;
}

.type {
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    background: rgba(41, 85, 200, 0.1);
    font-size: 12px;
    color: #111;
}

.camp-photos {
    border-radius: 10px;
}

.rating-block {
    display: flex;
    align-items: center;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    padding: 0px;
    border-radius: 5px;
    border: none;
    color: #000;
    font-family: 'Rubik', sans-serif;
    font-size: 19px;
    margin-left: 0px;
}

.rating .las {
    margin-right: 1px;
    position: relative;
    top: -1px;
    right: 5px;
    font-size: 18px;
    color: rgb(255, 217, 0);
}

.bi-star-fill {
    color: gold;
    margin: 1px;
}


.reviews-link {
    color: #2955c8;
}

.price {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #111;
}

.adress {
    color: #2955c8;
}

.shift-select {
    font-size: 13px;
}


.pagination .no-active a {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid #3ac47d;
    position: relative;
    color: #111;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}


.pagination .active a {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: rgba(41, 85, 200, 0.1);
    position: relative;
    color: #111;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.pagination .next-page, .last-page {
    display: flex;
    width: auto;
    height: 30px;
    border: 1px solid #3ac47d;
    padding: 0 10px;
    position: relative;
    color: #3ac47d;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.city-block-link {
    transition: .5s;
}

.city-block-link:hover {
    color: #2955c8;
    transition: .5s;
}

.question {
    position: absolute;
    right: 15px;
}


.question-text {
    display: none;
    position: absolute;
    right: 20px;
    width: 200px;
    background-color: #fff;
}

.question:hover .question-text{
    display: block;
}


.question i{
    font-size: 21px;
}

footer {
    background: #1c1f2c;
    color: #979aad;
}

