@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    position: relative;
    z-index: 2;
}

.border {
    border: 1px solid rgb(242, 245, 250) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 30px;
}

h2, h3, h4, h5 {
    font-size: 21px;
}

.las {
    position: relative;
    top: 0px;
    font-size: 16px;
}

a {
    text-decoration: none !important;
    color: #111;
}

.card {
    border: none;
    box-shadow: 0px 2px 10px 2px rgb(237, 240, 243, 0.6);
    border-radius: 20px;
}

.card img {
    border-radius: 10px;
}

.navbar-brand {
    margin-right: 30px;
}

.city-link {
    display: block;
    margin-top: 8px;
    margin-right: 10px;
}

.btn-auth {
    color: #70aab8;
    border: 1px solid #70aab8;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-booking {
    background: #21a663;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 13px 20px;
    font-size: 16px;
}

.btn-auth:hover {
    color: #243d51;
    border: 1px solid #243d51;
}

.btn-auth:hover .las {
    transform: rotate(360deg);
    transition: .5s;
}

.auth-input {
    border: none;
    border-bottom: 1px solid #333;
    border-radius: 0px;
    padding-left: 0px;
}

.btn-reg {
    color: #fff;
    background: #70aab8;
    border: 1px solid #70aab8;
    border-radius: 30px;
    padding: 10px 20px;
    transition: .5s;
    font-size: 16px;
}

.btn-reg:hover {
    color: #fff;
    background-color: #243d51;
}

.btn-reg:hover .las {
    transform: rotate(360deg);
    transition: .5s;
}

.btn-detailed {
    color: #2955c8;
    border: 1px solid #2955c8;
    border-radius: 5px;
    padding: 10px 25px;
}

.btn-detailed:hover {
    color: #2955c8;
    border: 1px solid #2955c8;
}

.badge {
    position: relative;
    top: -2px;
    background-color: #21a663;
    font-weight: 100;
    font-size: 12px;
    border-radius: 5px;
}

.navbar {
    box-shadow: 0 2px 15px -10px #606169;
    z-index: 3;
} 


.header-image {
    width: 100%;
    min-height: 580px;
    background: url(/../public/theme/img/header4.jpg) center -70px;
    padding: 20px 0;
    margin-bottom: 30px; 
    
}

.header-image-short {
    width: 100%;
    min-height: 450px;
    background: #111 url(/../public/theme/img/header4.jpg) center -70px;
    padding: 20px 0;
    margin-bottom: 30px;
}

.header-h1 {
    position: relative;
    text-align: center;
    color: #fff;
    z-index: 9;
}

.header-short-h1 {
    text-align: center;
    color: #fff;
    
}

.header-descript {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.info-block-index {
    background-color: #f1f5f9;
    padding-top: 30px;
    padding: 30px 10px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.filter-block {
    display: block;
    position: relative;
    background: rgba(0, 0, 0, 0.2) url(/public/theme/img/filter-bg.png) center;
    background-size: auto;
    max-width: 1200px;
    min-height: 130px;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 10px 45px 35px 45px;
    box-shadow: 0 3px 12px -10px #111;
    z-index: 2;
}

#region_msg {
    position: relative;
    color: #ff4444;
    font-size: 12px;
    left: 2px;
}

.filter-block .form-select {
    display: block;
    font-size: 15px;
    padding: 15px 25px 15px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.95);
    color: #243d51;
    border-radius: 5px;
}

.filter-block .form-select:hover {
    transition: .5s;
    color: #2955c8;
}

.filter-block .form-select option {
    color: #111;

}

.filter-block label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    opacity: 0.5;
}

.filter-block .btn {
    display: block;
    background: #21a663;
    border: none;
    padding: 15px 30px 15px 30px;
    font-size: 16px;
    margin-top: 41px;
    font-weight: 500;
    border-radius: 5px;
}

.filter-block .btn .las {
    transition: .5s;
}

.filter-block .btn:hover .las {
    transform: rotate(400deg);
    transition: .5s;
}

.type-block {
    display: flex;
    flex-wrap: wrap;
}

 .type {
    padding: 5px 10px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    background: rgba(41, 85, 200, 0.1);
    font-size: 14px;
    color: #111;
}

.camp-photos {
    border-radius: 10px;
}

.moon {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 120px;
    right: 22%;
    background: url(/public/theme/img/moon.png) center center no-repeat;
    background-size: 100%;
    animation: moon-animation 4s infinite ease;
    z-index: 1;
}

@keyframes moon-animation {
    0% {
        opacity: 0.9;
    }

    50% {
        opacity: 0.9;
        transform: rotate(-15deg);
        right: 24%;
    }

    100% {
        opacity: 0.9;
    }
}

